*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
AUTO_FILL_QUICK_GUIDE.md
EXACT_KEYWORD_MATCHING.md
.gitignore
IMAGE_UPLOAD_FIX.md
MULTI_PHARMACY_SEARCH.md
MULTI_PHARMACY_UPDATE_SUMMARY.md
QUICK_REFERENCE_CARD.md
QUICK_START_IMAGE_UPLOAD.md
